extends layout
block content
    style.
        .list{
        text-align:center;
        }
        .card-title{
        color:black;
        padding:8px;
        font-weight:bolder;
        font-size:28px;
        }
        .table{
        width:85%; 
        margin:auto;
        border:2px solid black; 
        padding:8px;
        }
        thead{
        font-weight:700;
        font-size:18px;  
        }
        tbody{
            font-weight:500;
            font-size:15px;
        }
        .form-group{
            transform:translateY(55px);
            margin-left:12px;
            padding:25px;
            position:absolute;
            left:0;

        }
        .btn{
            padding-top:8px;
            padding-bottom:8px;
            font-weight:bolder;
            font-weight:700;
            color: taupe;
            //- text-decoration: none;
        }
        .btn2{
            border: 3px solid red;
            border-radius: 5px;
            
            font-weight:bolder;
            font-weight:700;
            color:black; 
            padding:8px;
            //- text-decoration:none;
        }
        .button{
            text-decoration: none;
            border: 5px solid red;
            color: taupe;
            margin-left: 150px;
            margin-top: 0px;
        }
        .delete{
            font-size:18px;
            font-weight:700;
            color: rgb(11, 11, 11,0.87);
        }
        .availability{	
            color:rgb(25, 90, 90);
            font-size:18px;
            font-weight:700;
        }
        
    header.card-header.list
        h4.card-title Approved Products List 
    table.table.table-bordered 
        thead
            tr
                th Produce Name
                th Quantity
                th Mode of Delivery 
                th Price
                th Status
                th Mode of Payment
                th Image 
                th Change Availability 
                th Delete
        tbody
            if items.length
                each item in items
                    if item.status == 'approved'
                        tr
                            td #{item.prodName}
                            td #{item.prodQuantity}
                            td #{item.deliveryMode}
                            td #{item.price}
                            td #{item.status}
                            td #{item.paymentMode}
                            td 
                                img(src="/"+item.prodImage, alt="Image" width='150px' height="150px")
                            //- td #{moment(us
                            td                            
                                a.btn.btn-primary.btn-block.availability(href='/produce/available/'+item._id) Availability


                            td
                                form(method="post" action='/produce/delete')
                                    input(type="hidden" placeholder="" name="id", value=item._id)
                                    button.btn.btn-danger.btn-block.delete(type="submit") Delete
    div.form-row
        div.col.form-group
            a.btn.button(class="button" href="/ufDashboard") Back

