extends layout
block content
    header.card-header
        h4(style="margin-left:580px; font-size:60px;").card-title List of Farmer ones
    br
    table.table.table-bordered(style="border:3px ridge grey") 
        thead
            tr(style="border:3px ridge grey")
                th(style="border:3px ridge grey") First Name
                th(style="border:3px ridge grey") Last Name
                th(style="border:3px ridge grey") UniqueNO
                th(style="border:3px ridge grey") Phone Number
                th(style="border:3px ridge grey") Ward
                th(style="border:3px ridge grey") Activity
                th(style="border:3px ridge grey") NIN Number
                th(style="border:3px ridge grey") Update
                th(style="border:3px ridge grey") Appoint
        tbody
            if farmerones.length
                each farmerone in farmerones
                    tr(style="border:3px ridge grey")
                        td(style="border:3px ridge grey") #{farmerone.fName}
                        td(style="border:3px ridge grey") #{farmerone.lName}
                        td(style="border:3px ridge grey") #{farmerone.uniqueNo}
                        td(style="border:3px ridge grey") #{farmerone.tel}
                        td(style="border:3px ridge grey") #{farmerone.ward}
                        td(style="border:3px ridge grey") #{farmerone.activities}
                        td(style="border:3px ridge grey") #{farmerone.ninNo}
                        //- td #{moment(us
                        td(style="border:3px ridge grey")
                            a.btn.btn-success.btn-block(href='/farmerOne/update/'+farmerone._id) Update
                        td(style="border:3px ridge grey") 
                            a.btn.btn-primary.btn-block(href='/farmerOne/appoint/'+farmerone._id) Appoint   
    div.form-row
        div.col.form-group
            a.btn-primary(class='button' href='/aoDashboard' style="text-decoration: none; border:2px solid blue; padding:8px 8px") Back

block footer
    //- div.col-md-12 ©️ 2022 Refactory Cohort 12, NodeJS by Irene.
