extends layout
block content
    header.card-header
        h4.card-title List of Urban Farmers
    br
    nav
    #nav-tab.nav.nav-tabs(role='tablist')
        a#nav-profile-tab.nav-item.nav-link(href='/ufr') Register Urban Farmer
    #nav-tabContent.tab-content
    br
    table.table.table-bordered 
        thead
            tr
                th First Name
                th Last Name
                th UniqueNO
                th Phone Number
                th Update
        tbody
            if urbanfarmers.length
                each urbanfarmer in urbanfarmers
                    tr
                        td #{urbanfarmer.fName}
                        td #{urbanfarmer.lName}
                        td #{urbanfarmer.uniqueNo}
                        td #{urbanfarmer.tel}
                        //- td #{moment(us
                        td
                            a.btn.btn-primary.btn-block(href='/urbanfarmer/update/'+urbanfarmer._id) Update
                        //- td
                        //-      form(method="post" action='/urbanfarmer/delete')
                        //-         input(type="hidden" placeholder="" name="id", value=urbanfarmer._id)
                        //-         button.btn.btn-danger.btn-block(type="submit") Delete
    div.form-row
        div.col.form-group
            a(class='button' href='/foDashboard') Back

block footer
    //- div.col-md-12 ©️ 2022 Refactory Cohort 12, NodeJS by Irene.
